.translations {
  section {
    margin-bottom: $gridSize * 4;
  }

  input,
  pre,
  select {
    margin: 0 0 $gridSize * 2;
    font-size: 1.4rem;
  }

  pre {
    padding: $gridSize;
    border: 1px solid rgba(black, 0.2);
    overflow: hidden;
  }

  .example {
    border: 1px solid rgba(black, 0.2);
    padding: $gridSize * 2;
    margin-bottom: $gridSize * 2;

    input,
    select {
      @include size(100%, auto);
      padding: $gridSize;
    }
  }
}
