h1,
h2,
h3,
h4 {
  margin-bottom: $gridSize * 2;
}

:global {
  .heading-01,
  .heading-02,
  .heading-03 {
    font-weight: font-weight(bold);
  }

  .heading-01 {
    font-size: 2.8rem;
  }

  .heading-02 {
    font-size: 1.8rem;
  }

  .heading-03 {
    font-size: 1.4rem;
  }
}
