// Fonts
$fontRoboto: 'Roboto';

// Z Index
$zLayout: default;

// Sizes
$gridSize: 0.8rem;

$gutterSize: $gridSize * 2;

// Colors
$colorPrimary: #61dafb;

// $mediaQueries
@import '../../../config/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';
