// Fonts
$fontRoboto: 'Roboto', sans-serif;

// Z Index
$zLayout: default;

// Sizes
$gridSize: 0.8rem;
$gutterSize: $gridSize * 2;

// Colors
$colorPrimary: #61dafb;

// $mediaQueries
@import '../../../data/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';

$fontRoboto: 'Roboto', sans-serif;
$gridSize: 0.8rem;
$gutterSize: $gridSize * 2;
$colorPrimary: #61dafb;
