.localeSelector {
  display: inline-block;

  button {
    background: transparent;
    padding: 0 $gridSize;
    border: none;
    color: white;
    font-size: 1.2rem;
    height: 1.5rem;
    display: inline-block;

    &:not(:last-child) {
      border-right: 1px solid white;
    }
  }

  .isActive {
    color: $colorPrimary;
  }
}
